<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.mopic.mapper.ModelBoardMapper">

    <insert id="insertModelBoard" parameterType="ModelBoardAddDTO" useGeneratedKeys="true"
            keyProperty="seq" keyColumn="SEQ">
        INSERT INTO MODEL_BOARD
            (TITLE, DESCRIPTION, PRICE, LOCATION, USER_ID
        <if test="form != null and !form.equals('')">
             , FORM
        </if>
             )
        VALUES (#{title}, #{description}, #{price}, #{location}, #{userId}
        <if test="form != null and !form.equals('')">
            , #{form}
        </if>
        )
    </insert>

    <select id="getModelBoardPost" parameterType="int" resultType="ModelBoardDTO">
        SELECT
            BOARD.SEQ
            , USR.NICKNAME
            , USR.USER_ID
            , BOARD.TITLE
            , BOARD.DESCRIPTION
            , BOARD.PRICE
            , BOARD.LOCATION
            , BOARD.CREATE_DATE
            , BOARD.FORM            AS APPLY_FORM
        FROM
            MODEL_BOARD AS BOARD
           , USER       AS USR
        WHERE
            BOARD.USER_ID = USR.USER_ID
        <if test="seq != null and !seq.equals('')">
            AND BOARD.SEQ = #{seq}
        </if>
        ORDER BY
            BOARD.CREATE_DATE DESC
    </select>

    <update id="modifyModelBoardPost" parameterType="ModelBoardAddDTO">
        UPDATE MODEL_BOARD
        SET
            MODIFIED_DATE = now()
        <if test="title != null and !title.equals('')">
            , TITLE = #{title}
        </if>
        <if test="description != null and !description.equals('')">
            , DESCRIPTION = #{description}
        </if>
        <if test="price != null and !price.equals('')">
            , PRICE = #{price}
        </if>
        <if test="location != null and !location.equals('')">
            , LOCATION = #{location}
        </if>
        <if test="form != null and !form.equals('')">
            , FORM = #{form}
        </if>
        WHERE
            SEQ = #{seq}
    </update>

    <delete id="deleteModelBoardPost" parameterType="int">
        DELETE FROM MODEL_BOARD WHERE SEQ = #{seq}
    </delete>

    <select id="getForm" parameterType="FormAddDTO" resultType="FormDTO">
        SELECT * FROM FORM
        WHERE 1=1
        <if test="boardSeq != null and !boardSeq.equals('')">
        AND BOARD_SEQ = #{boardSeq}
        </if>
        <if test="boardType != null and !boardType.equals('')">
          AND BOARD_TYPE = #{boardType}
        </if>
    </select>

    <insert id="insertForm" parameterType="java.util.Map">
        INSERT INTO FORM(BOARD_SEQ, BOARD_TYPE, TYPE, URL)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.boardSeq}, #{item.boardType}, #{item.type}, #{item.url})
        </foreach>
    </insert>

    <delete id="deleteForm" parameterType="FormAddDTO">
        DELETE FROM FORM WHERE BOARD_SEQ = #{boardSeq} AND BOARD_TYPE = #{boardType}
    </delete>
</mapper>